@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-size: 18px;
        font-family: 'Space Grotesk', sans-serif;
        color: #21092F;
        letter-spacing: 2.2px;
    }

    label {
        font-size: 12px;
    }
}
